
@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Figtree&family=Sarabun&family=Shrikhand:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary-color: #6E9FA2;
  --secondary-color: #E1EAEA;
  --accent1-color: #01161E;
  --accent2-color: #2B4847;

  --heading-font: "Shrikhand", "Arsenal","Figtree";
  --paragraph-font: "Arsenal","Figtree","Sarabun";

  --headline-color-on-white: #6E9FA2; 
  --headline-color-on-color: #E1EAEA; 
  --paragraph-color-on-white: #6E9FA2; 
  --paragraph-color-on-color: #E1EAEA;
  --paragraph-background-color: #6E9FA2;
  --nav-link-color:#2B4847;
  --nav-background-color: #E1EAEA;
  --nav-hover-link-color: #2B4847;
  --nav-hover-background-color: #E1EAEA;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
header {
  padding: 1em;
  text-align: center ;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
.home-grid{
    display: flex;
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
nav {
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.logo{
    max-width: 85px;
    
}


