/* blue=0073cf, green=1d5c42, yellow=b3995d, white=FFFFFF*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Serif&display=swap');


header{
    background-color: #b3995d;
}

h1, h2{
    text-align: center;
    background-color:#0073cf;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #ccc;
    font-family: "Arbil Fatface", "IBM Plex Serif";
}
main{
    align-items: center;
    justify-content: center;
    font-family: "IBM Plex Serif", "Abril Fatface";
}

.row {
	display: grid;
	grid-template-columns: 1fr  1fr;
	align-items: center;
	text-align: center;
}
:root {
	--bord: 1px solid #777;
    --blue:#0073cf;
    --green:#1d5c42;
}
* {
	box-sizing: border-box;
}
.col {
    padding: 10px;	
}

footer {
    background-color: var(--blue);
    text-align: center;
    font-family: "IBM Plex Serif", "Abril Fatface";
}
@media screen and (min-width: 500px) {
    .hero{
        max-width: 500px;
        margin:1rem auto;
    }
    .icon{
        max-width: 100px;
        margin:1rem auto;
    }
    main{
        grid-template-columns: 1fr 1fr;
}
}