/* blue=0073cf, green=1d5c42, yellow=b3995d, white=FFFFFF*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Serif&display=swap');

.home-grid{
    display: flex;
}


h1, h2{
    text-align: center;
    background-color:#0073cf;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #ccc;
    font-family: "Arbil Fatface", "IBM Plex Serif";
}
main{
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "IBM Plex Serif", "Abril Fatface";
}

.row {
	display: grid;
	grid-template-columns: 1fr  1fr;
	align-items: center;
	text-align: center;
}
:root {
	--bord: 1px solid #777;
}
* {
	box-sizing: border-box;
}
.col {
    padding: 10px;	
}

.footer {
    background-color: #0073cf;
    text-align: center;
    font-family: "IBM Plex Serif", "Abril Fatface";
}
@media screen {
    .hero{
        max-width: 1500px;
        justify-content: center;
    }
    .icon{
        justify-content: center;
    
    }
    
}